.calculator{
    margin-left: 500px;
    border: solid 2px;
    width: 400px;
    padding: 2%;

}
.a1{
    width: 75px;
    height: 75px;
    border-radius: 25%;
    margin-top: 5px;
    color: white;
    background-color: black;
}
.d1{
    width: 300px;
    height: 80px;
    border-radius: 10px;
}
.c1{
    color: aqua;
    font-size: 15px;
}
